* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* #region task 1 */
#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.item {
  background-color: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  color: #2e2f42;
  letter-spacing: 0.04em;
}
.item > ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item > ul > li {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
}
/* #endregion */

/* #region task 2 */
.gallery {
  display: flex;
  flex-wrap: wrap;

  gap: 48px 24px;
}
.gallery li {
  width: calc((100% - 48px) / 3);
}
.gallery img {
  width: 360px;
  height: 300px;
  object-fit: cover;
}
/* #endregion */

/* #region tesk 3 */
#name-input {
  margin-bottom: 16px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
}
#name-input::placeholder {
  font-size: 16px;
  color: #2e2f42;
}
h1 {
  font-size: 24px;
  font-weight: 600;
}
/* #endregion */

/* #region task 4 */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 320px;
}
.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  color: #2e2f42;
}
.login-form input {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
}
.login-form input:hover {
  border: 1px solid #000;
}
.login-form input:focus {
  border: 1px solid #808080;
}
.login-form input::placeholder {
  color: transparent;
  transition: color 0.3s ease;
}
.login-form input:focus::placeholder {
  color: #2e2f42;
}
.login-form button {
  border: none;
  border-radius: 8px;

  background: #4e75ff;
  color: #fff;

  padding: 8px 16px;

  width: 86px;
  height: 40px;

  cursor: pointer;
}
.login-form button:hover {
  background: #6c8cff;
}

/* #endregion */

/* #region task 5 */
.widget {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  padding: 30px;

  width: 300px;
  height: auto;

  color: white;
  background-color: rgba(0, 0, 0, 0.719);
  border-radius: 20px;
}
.change-color {
  margin-top: 20px;
  padding: 10px 20px;

  border: none;
  border-radius: 8px;

  background: #4e75ff;
  color: #fff;

  cursor: pointer;

  transition: background 0.3s ease;
}
.change-color:hover,
.change-color:focus {
  background: #6c8cff;
}
.change-color:active {
  background: #3b5dcc;
}
/* #endregion */
